@charset "utf-8";
/* CSS Document */
#footer{
	background-color:#a61818;
	width:1700px;
	height:100px;
	margin:0 auto;
	margin-top:10px;
}
#bottom{
	color:#FFF;
	font-family:"Lao UI";
	font-size:20px;
	margin-left:330px;
	margin-top:0px;
	padding-top:20px;
}
#bottom a{
	color:#FFF;
	text-decoration:none;
}
#bottom a:hover{
	text-decoration:underline;
	color:#fff;
}
#l{
	height:100px;
	width:180px;
	margin-left:390px;
	padding-top:5px;
	float:left;
	
}

